body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: radial-gradient(circle, #1f1c2c, #928dab);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.theater {
    text-align: center;
    border: 10px solid #ffcc00;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 30px rgba(255, 204, 0, 0.7);
    background: rgba(0, 0, 0, 0.7);
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.video-container {
    margin: 20px 0;
}

video {
    border: 5px solid #6d1883;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 0 20px rgba(255, 204, 0, 0.5);
     
}

.buttons {
    margin-top: 40px;
}

button {
    background-color: #ffcc00;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ffd700;
}